#survey-flower-page {
  .info-message {
    margin-bottom: 30px;
  }

  ion-item {
    --inner-border-width: 0;
  }

  ion-item.photo-picker {
    --inner-border-width: 0;
    --border-radius: 15px;
    padding: 0 10px;
    margin-bottom: 25px;
  }

  .radio-input-attr {
    ion-label {
      padding-left: 10px;
    }

    ion-img {
      padding: 0;
    }
  }
}
