#survey-flower-page {
  .info-message {
    margin-bottom: 30px;
  }

  div.rounded {
    padding: 0 10px;
  }

  ion-item {
    --inner-border-width: 0;
  }

  ion-item.photo-picker,
  .menu-attr-item {
    --inner-border-width: 0;
    --border-radius: 15px;
    padding: 0 10px;
    margin-bottom: 25px;
  }

  .manual-entry-wrapper {
    min-height: 25%;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 0 auto;
  }

  .radio-input-attr {
    ion-label {
      padding-left: 10px;
    }

    ion-img {
      padding: 0;
    }
  }
}
