#country-select {
  ion-content {
    --padding-top: env(safe-area-inset-top) !important;
  }

  .header {
    z-index: 2;
    margin: 14px auto;
    width: 100%;
    text-align: center;

    ion-icon {
      font-size: 80px;
      --ionicon-stroke-width: 12px;
      color: var(--ion-color-dark);
    }
  }

  h4 {
    margin-left: 10px;
    color: #2f4a6f;
    text-align: left;
  }

  ion-list {
    background: #fafbfd;
    height: 100vh;
    text-align: center;

    .country-icons {
      width: 50px;
      height: 50px;
    }

    .countries-container {
      height: calc(100vh - 120px);
      overflow-y: scroll;

      ion-item {
        margin: 20px auto;
        border-radius: 10px;
        max-width: 90%;
        --background: white;
        box-shadow: 0 0 10px #e2e2e2;
        border: 1px solid #2f4a6f52;
        color: var(--ion-color-dark);
      }
    }

    .country-list-item {
      margin-bottom: 6px;
      border-radius: 10px;
      background: white;
      padding: 5px;

      .country-label {
        margin: 10px 10px;
      }

      ion-label {
        margin-left: 20px;
      }

      h3 {
        font-weight: 500;
        font-size: 1.1em;
      }
    }
  }
}
