.survey-list-item {
  margin-bottom: 6px;
  border-radius: 10px;
  background: white;
  --border-style: none;

  ion-toolbar {
    --ion-toolbar-background: transparent;

    ion-segment {
      ion-segment-button {
        color: var(--ion-color-light);
        ion-badge {
          color: red;
        }
      }
    }
  }

  ion-item {
    --padding-start: 0;
    --border-style: none;

    .count {
      margin: 10px 15px;

      .number {
        margin: 0 auto;
        border-radius: 50%;
        background: #edeced;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
      }

      .label {
        font-size: 0.6em;
        text-align: center;
      }
    }

    ion-label {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 5px;

      h2 {
        font-weight: 600;
      }
    }
  }
}
