#survey-location-page {
  .info-message {
    z-index: 10000000;
    margin: 0;
    border-radius: 0;

    ion-label {
      padding: 0 !important;
    }
  }

  .info-message.warning {
    --background: rgba(var(--ion-color-secondary-rgb), 0.1);
    background: white; // needed for opacity

    ion-note,
    ion-icon {
      color: var(--ion-color-secondary-dark) !important;
    }
  }

  .offline-survey-location {
    background: white;
    margin: 10px;
    padding: 20px;

    b {
      font-size: 16px;
    }

    ion-button {
      max-width: 200px;
      margin: 10px auto 0;

      ion-spinner {
        height: 15px;
      }
    }
  }

  .location-name-attr {
    --ion-toolbar-background: white;
    color: var(--ion-color-primary);
    border-top: 1px solid #afafaf;

    ion-spinner {
      color: var(--ion-color-primary);
    }
    ion-input {
      --placeholder-color: black;
      --placeholder-font-weight: 300;

      color: black;
      font-size: 1em;
      margin-top: 0.2em;
    }

    .auto-suggest-input-attr {
      margin-top: -6px;
    }
  }

  .md .model-location-map {
    height: calc(100% - 96px - 54px);
    bottom: 0;
  }

  .ios .model-location-map {
    height: calc(100% - 87px - 54px);
    bottom: 0;
  }

  #survey-footer {
    position: absolute;
    bottom: 0;
    background: transparent;
    width: 100%;

    .skip-button {
      --ion-background-color: grey;
      box-shadow: none;
    }
  }

  .leaflet-control-layers-toggle {
    display: none;
  }
}
