#home-menu {
  ion-footer {
    padding: 15px 0 10px;
    border-top: 1px
      var(
        --ion-item-border-color,
        var(--ion-border-color, var(--ion-color-step-250, #c8c7cc))
      )
      solid;

    div {
      text-align: center;
    }

    p {
      margin-top: 0;
      opacity: 0.7;
    }

    img {
      width: 40%;
    }
  }
}
