#home-menu {
  ion-content {
    --padding-top: env(safe-area-inset-top) !important;
  }

  h1 {
    width: 100%;
    text-align: center;
  }

  ion-list {
    padding: 0 10px !important;
  }

  .exception-rounded {
    --border-radius: 0 0 15px 15px;
    --border-style: none;
    overflow: hidden;
  }

  .info-message {
    --background: transparent;

    padding: 0px -0px 50px;
  }

  .flumens-section {
    padding: 15px 0 10px;

    div {
      text-align: center;
    }

    p {
      margin-top: 0;
      opacity: 0.7;
    }

    img {
      width: 30%;
    }
  }
}
