#guide {
  ion-content {
    --padding-top: env(safe-area-inset-top) !important;
  }

  h1 {
    text-align: center;
  }

  .user-feedback-row {
    padding: 10px 20px;

    #feedback-request {
      text-transform: capitalize;
      margin: 8px;
      position: relative;
      border-radius: 10px;
      background-color: #fefeffbf;
      box-shadow: 0 0 10px #bb107a30, 0 0 5px #f4a90038;

      ion-card-title {
        font-weight: 500;
      }
    }
  }

  .species-list-item {
    padding: 0;

    div.species-label {
      height: 42vw;
      margin: 8px;
      position: relative;
      border-radius: 10px;
      background-color: #fefeffbf;
      box-shadow: 0 0 10px #bb107a30, 0 0 5px #f4a90038;

      .species-wrapper {
        padding: 30px 27px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        ion-img {
          margin-bottom: 20px;
        }
      }

      div {
        width: 100%;
        position: absolute;
        bottom: 0px;
        font-size: 0.9em;
        font-weight: 600;
        padding: 0 10px;
        text-align: center;
        color: var(--ion-color-primary);
        padding-bottom: 5px;

        &:first-letter {
          text-transform: capitalize;
        }
      }
    }
  }
}
