#survey-flower-count-page {
  .info-message {
    margin-bottom: 30px;
  }

  .slider-input-attr {
    --border-radius: 15px;
    --border-color: transparent !important;
    padding: 0 10px;
    margin-bottom: 30px;
  }

  div.rounded {
    padding: 0 10px;
  }
}
