#language-select {
  .header {
    padding: 50px;

    * {
      width: 100%;
      font-weight: 300;
      text-align: center;
    }

    ion-icon {
      font-size: 80px;
      --ionicon-stroke-width: 8px;
    }
  }

  .pretty-button-language {
    left: 50%;
    transform: translateX(-50%);
  }

  p {
    width: 100%;
    text-align: center;
  }
}
