#manual {
  ion-content {
    --padding-top: env(safe-area-inset-top) !important;
  }

  ol {
    counter-reset: steps;
    margin: 0;
    padding: 0px;
    list-style: none;
    text-align: left;
  }
  ol li {
    counter-increment: steps;
    margin: 25px auto;
    font-size: 1em;
  }
  ol li::before {
    display: inline-grid;
    place-items: center;
    margin-right: 0.5rem;
    border: 1px solid var(--color-primary-700);
    border-radius: 50%;
    background: #ffffff;
    width: 1.5rem;
    height: 1.5rem;
    content: counter(steps);
    color: var(--color-primary-700);
    line-height: 1.4rem;
  }
  ol ol li::before {
    background: var(--ion-color-primary-tint);
  }

  a {
    margin: 0px 10px;
  }
}
