#survey-activities-page {
  .radio-input-attr {
    ion-item-divider {
      padding-left: 4px;
      margin-top: 20px;
    }

    ion-item-sliding {
      background: #fff;
      border-radius: 10px;
      margin: 10px 0;

      ion-item {
        margin: 0;
        --border-radius: 10px !important;

        &.radio-input-default-option {
          opacity: 0.6;
        }
      }

      ion-icon {
        margin: 0 10px;
        font-size: 1.5em;
      }
    }
  }
}

.alert-message .helpIcon {
  border-radius: 10px;
}
