#home-user-surveys {
  ion-header {
    ion-badge {
      display: inline;
      margin-left: 10px;
      color: var(--ion-color-light);
    }

    ion-toolbar {
      --ion-toolbar-background: var(--ion-page-background);
      color: var(--ion-background-page);

      ion-segment-button > ion-label.ios {
        padding: 5px;
      }
    }
  }

  ion-content {
    --padding-top: 20px;
  }

  ion-list {
    padding: 10px;
  }

  .info-background-message {
    margin-bottom: 10vh;

    ion-icon {
      border-radius: 7px;
      margin-bottom: -7px;
      // margin: 3px;
      --ionicon-stroke-width: 20px;
      font-size: 1em;
    }
  }
}
