#survey-weather-wind-page {
  .custom-alert {
    text-align: center;

    h1 {
      padding: 0 30px;
      color: var(--ion-color-dark);
    }

    .center {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;

      ion-icon {
        color: var(--ion-color-success-shade);
        font-size: 6em;
      }
    }
    .message {
      padding: 0;

      p {
        text-align: center;
        font-size: 1.2em;
        padding: 0 10px;
      }
      ul {
        background-color: var(--ion-color-light);
        padding: 10px 20px 10px 30px;
        text-align: left;

        li {
          margin-bottom: 10px;
        }

        li::marker {
          color: var(--ion-color-primary);
          font-size: 1.2em;
        }
      }

      .next-button {
        --background: var(--ion-color-secondary);
        --background-activated: none;
        --color: white;
        --border-radius: 5px;
        width: 80%;
        border-radius: 5px;
        color: white;
        box-shadow: 0 0 5px rgba(244, 169, 0, 0.9);
        font-weight: bold;
        margin: 30px auto;

        ion-label {
          color: white;
          text-align: center;
        }
      }

      .next-button-home {
        --background: var(--ion-color-medium);
        --background-activated: none;
        --color: white;
        --border-radius: 5px;
        width: 80%;
        border-radius: 5px;
        color: white;
        box-shadow: 0 0 5px rgba(146, 148, 156, 0.9);
        font-weight: bold;
        margin: 30px auto;

        ion-label {
          text-align: center;
        }
      }
    }

    h1 {
      margin-bottom: 40px;
    }

    ion-button {
      width: 100%;
    }
  }
}
