#credits.ion-page ion-content {
  ul {
    list-style-type: none;
    padding: 0;
    li {
      margin: 10px 0;
    }
  }

  .list-background {
    background-color: #fff;

    border-radius: 15px;
    padding: 0 !important;
    margin-bottom: 20px;

    ion-col {
      padding: 25px 10px;
      margin: auto;

      ion-img {
        margin: auto;
      }
    }
  }
}
