#credits.ion-page ion-content {
  ul {
    li {
      margin-bottom: 10px;
      a {
        display: block;
        padding: 0px 0px 10px 0px;
      }
    }
  }

  ion-grid {
    text-align: center;

    img {
      display: block;
      margin: 0 auto;
      max-width: 40vw;
    }
  }

  .list-background {
    margin-bottom: 20px;

    border-radius: 15px;
    background-color: #fff;
    padding: 0 !important;

    ion-col {
      margin: auto;
      padding: 25px 10px;

      ion-img {
        margin: auto;
      }
    }
  }
}
