#credits.ion-page ion-content {
  ul {
    li {
      a {
        display: block;
        padding: 0px 0px 10px 0px;
      }

      margin-bottom: 10px;
    }
  }

  ion-grid {
    text-align: center;

    img {
      max-width: 40vw;
    }
  }

  .list-background {
    background-color: #fff;

    border-radius: 15px;
    padding: 0 !important;
    margin-bottom: 20px;

    ion-col {
      padding: 25px 10px;
      margin: auto;

      ion-img {
        margin: auto;
      }
    }
  }
}
