#survey-footer {
  padding: 20px;
  background: var(--ion-page-background);

  &::before {
    content: none;
  }

  .next-button {
    z-index: 24;
    left: 50%;
    transform: translateX(-50%);
    --ion-background-color: var(--ion-color-secondary);
    --background-activated: none;
    --color: white;
    width: 80%;
    --border-radius: 5px;
    border-radius: 5px;
    color: white;
    box-shadow: 0 0 5px rgba(244, 169, 0, 0.9);
  }

  .disable {
    --background: var(--ion-color-medium);
    box-shadow: none;
    opacity: 0.6;
  }
}
