#survey-footer {
  position: none;
  background: var(--ion-page-background);
  padding: 20px;
  padding-bottom: calc(env(safe-area-inset-top) + 20px);

  .next-button {
    left: 50%;
    transform: translateX(-50%);
    z-index: 24;
    --ion-background-color: var(--ion-color-secondary);
    --background-activated: none;
    --color: white;
    width: 80%;
    --border-radius: 5px;
    box-shadow: 0 0 5px rgba(244, 169, 0, 0.9);
    border-radius: 5px;
    color: white;
    font-weight: bold;

    ion-icon {
      margin: 0;
    }
  }

  .finish-button {
    text-transform: uppercase;
  }
}
