.survey-status {
  margin: 0;
  max-width: 70px;
}

ion-button.survey-status-upload {
  margin-right: 10px;
  height: fit-content;

  ion-label {
    margin: 0 !important;
    padding: 5px 0;
  }
}

ion-spinner.survey-status {
  width: 15px;
}
