.survey-status {
  max-width: 70px;
  margin: 0;
}

ion-button.survey-status-upload {
  margin-right: 10px;
  height: fit-content;

  ion-label {
    padding: 10px 0;
  }
}

ion-spinner.survey-status {
  width: 15px;
}
