:root {
  --ion-color-primary: #352560;
  --ion-color-primary-rgb: 53, 37, 96;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #2f2154;
  --ion-color-primary-tint: #493b70;

  --ion-color-secondary: #c6282e;
  --ion-color-secondary-rgb: 198, 40, 46;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #ae2328;
  --ion-color-secondary-tint: #cc3e43;

  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

:root {
  --ion-headings-font-weight: 300;
  // --ion-item-border-color: red;
  --ion-item-border-color: rgb(0, 0, 0, 0.2);
}

.ios,
.md {
  --ion-toolbar-background: var(--ion-color-primary);
  --ion-toolbar-color: #fff;
  --ion-toolbar-color-activated: #fff;
}

ion-toolbar {
  --min-height: 54px;
}

.sc-ion-back-button-ios-h {
  --color: var(--ion-toolbar-color);
}

ion-icon[faint] {
  opacity: 0.6;
}

ion-label[slot='end'] {
  text-align: right;
  opacity: 0.5;
}

button.alert-button.secondary {
  font-weight: normal !important;
}
button.alert-button.primary {
  font-weight: 700;
}

button.alert-button.danger {
  color: var(--ion-color-danger) !important;
  font-weight: normal !important;
}

ion-label {
  &.warn {
    color: var(--ion-color-warning) !important;
    opacity: 1;
  }
  &.error {
    color: var(--ion-color-danger) !important;
    opacity: 1;
  }
}

html[mode='ios'] ion-toolbar {
  ion-button {
    color: var(--ion-color-primary-contrast);
  }
}

html[mode='ios'] ion-input,
html[mode='ios'] ion-textarea {
  --padding-start: 7px;
}

html[mode='ios'] .tabs-inner {
  margin-top: var(--ion-safe-area-top);
}

html[mode='md'] .action-sheet-group-cancel button {
  font-weight: bold;
}

html[mode='md'] ion-item ion-label[slot='end'] {
  margin-right: 5px;
}

ion-label.ion-text-wrap.normal-font-size {
  font-size: inherit;
}

ion-button[type='submit'] {
  width: 40%;
  margin: 20px auto 40px;
}

ion-alert {
  ion-list,
  ion-item {
    background: none;
    --background: none;
  }
}

ion-item.locked {
  ion-label[slot='end'] {
    color: var(--ion-color-secondary);
  }
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.menu-attr-item.item-disabled {
  opacity: 0.3 !important;
}

.menu-attr-item.item-disabled {
  opacity: 0.7 !important;
}

ion-header ion-toolbar ion-button[fill='solid'] {
  --padding-end: 15px;
  --padding-start: 15px;
}

.menu-note-item {
  --inner-padding-start: 20px;
  --inner-padding-end: 20px;
  --inner-padding-top: 10px;
  --inner-padding-bottom: 10px;
}

ion-item-divider[mode='ios'] {
  font-weight: 400;
  padding: 5px;
  padding-left: 10px;
  background: #f1f1f1;
}

ion-item.empty {
  width: 80%;
  max-width: 250px;
  margin: 50px auto 50px;
  --border-style: none;
  --background: white;
  --color: var(--ion-color-light-contrast);
  border-radius: 10px;

  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.05),
    0 2px 9px 0 rgba(62, 57, 107, 0.05);

  span {
    text-align: center;
    width: 100%;
  }

  div {
    margin: 0 auto;
    font-weight: 200;
    text-align: center;
    padding: 20px 0;
  }

  ion-icon {
    background: var(--ion-color-primary);
    padding: 5px;
    border-radius: 4px;
    color: white;
    margin: 0 5px 0 8px;
    margin-bottom: -7px;
  }
}

a {
  text-decoration: none;
}
