@import '@flumens/ionic/dist/themes/rounded.css';

:root {
  --ion-color-primary: #ba107a;
  --ion-color-primary-rgb: 186, 16, 122;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #a40e6b;
  --ion-color-primary-tint: #c23e8f;
  --ion-color-primary-dark: #1d0012;

  --ion-color-secondary: #f4a901;
  --ion-color-secondary-rgb: 244, 169, 1;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #b07902;
  --ion-color-secondary-tint: #f5b21a;
  --ion-color-secondary-dark: #221800;

  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;
  --ion-color-tertiary-dark: #00010f;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;
  --ion-color-success-dark: #001d0c;

  --ion-color-warning: #f4a901;
  --ion-color-secondary-rgb: 244, 169, 1;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #b07902;
  --ion-color-warning-tint: #f5b21a;
  --ion-color-warning-dark: #352400;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;
  --ion-color-danger-dark: #130002;

  --ion-color-dark: #21121c;
  --ion-color-dark-rgb: 33, 18, 28;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1d1019;
  --ion-color-dark-tint: #372a33;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-page-background: #f4f5f8;

  --ion-headings-font-weight: 300;
  --ion-item-border-color: rgb(0, 0, 0, 0.2);
}

html.ios.plt-hybrid #status-bar-background {
  background: #13010b;
  width: 100vw;
  height: env(safe-area-inset-top);
  position: fixed;
  top: 0;
  z-index: 1000;
}

.ios,
.md {
  --ion-toolbar-background: var(--ion-color-primary);
  --ion-toolbar-color: #fff;
  --ion-toolbar-color-activated: #fff;
}

ion-icon[faint] {
  opacity: 0.6;
}

.record-manual-entry-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 25%;
  overflow: hidden;
  margin: 0 auto;

  .menu-attr-item {
    --inner-border-width: 0;
    --border-radius: 15px;
    padding: 0 10px;
    margin-bottom: 25px;

    ion-label[slot='end'] {
      max-width: 80px;
      margin: auto;
    }
  }
}

h1 {
  color: var(--ion-color-primary);
  text-align: center;
  width: 100%;
}

.app-logo-wrapper-no-background {
  position: relative;
  width: 100%;

  img {
    display: block;
    padding: 20px;
    max-width: 90%;
    margin: 0 auto;
  }
}

.alert-button:not(.alert-button-role-destructive) {
  color: black;
}

// Increase text
.info-message ion-note {
  font-size: 1em;
}

.user-register-alert-styles .alert-wrapper {
  width: 100% !important;

  .alert-tappable {
    overflow: hidden;
    height: none;
    display: contents;

    .alert-button-inner {
      height: initial;
      border-bottom: 1px solid var(--ion-item-border-color);
    }

    .alert-button-inner.sc-ion-alert-ios {
      height: initial;
      border-bottom: 0.55px solid var(--ion-item-border-color);
    }

    &:last-of-type {
      .alert-button-inner {
        border-bottom: none;
      }
    }
  }
  .alert-radio-group {
    max-height: 80%;

    .alert-radio-label {
      white-space: normal;
    }
  }
}

.radio-input-attr {
  ion-item {
    --border-radius: 10px !important;
  }
}
