#survey-flower-cover-page {
  ion-list {
    ion-item {
      ion-img {
        width: 25%;
        max-width: 100px;
        padding: 5px;
        border: 2px solid #bb107a;
        margin-left: 15px;
        border-radius: 5px;
      }

      ion-label {
        white-space: normal;
        margin-left: 10px;
      }
    }
  }
}
