#survey-flower-cover-page {
  ion-list {
    ion-item {
      ion-img {
        width: 25%;
        max-width: 100px;
        border-radius: 5px;
        background: #fbdeefab;
        border-radius: 0;
      }

      ion-label {
        white-space: normal;
        margin-left: 10px;
      }
    }
  }
}
