@mixin slide {
  .slide-header {
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
  }
}

#welcome-page {
  ion-header {
    position: fixed;

    ion-toolbar {
      --background: transparent;
      --border-color: transparent;

      ion-button {
        border-radius: 50%;
        background: #ffffffe0;
        color: (--ion-color-dark);
        height: 40px;
        width: 40px;
        margin: 10px;
        color: var(--ion-color-dark);
        --border-radius: 50%;
      }
    }
  }

  ion-footer {
    ion-toolbar {
      --background: transparent;
      --border-color: transparent;

      ion-button {
        border-radius: 50%;
        background: #ffffffcf;
        color: var(--ion-color-dark);
        height: 50px;
        width: 50px;
        margin: 10px;
      }
    }
  }

  ion-slides {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;

    ion-slide {
      .message-blur-container {
        position: relative;
        top: 70%;
        width: 100%;
        background-color: (var(--ion-color-primary-tint));
        max-width: 90%;
        margin: 0 auto;
        border-radius: 10px;
      }
    }

    ion-slide.first {
      @include slide;

      .app-logo-wrapper {
        background-color: #ffffff47;
        position: absolute;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(5px);

        img {
          display: block;
          padding: 30px;
          max-width: 90%;
          margin: 0 auto;
        }
      }

      .slide-header {
        background-position: center;
      }
    }

    ion-slide.second {
      @include slide;
      // background: linear-gradient(262deg, #ff7854, #fd267d);
      background: linear-gradient(359deg, #fffcfe, #f9e8ef);

      ol {
        list-style: none;
        counter-reset: steps;
        padding: 0px 15px;
        text-align: left;
        margin: 0;
      }
      ol li {
        counter-increment: steps;
        margin: 15px auto;
        font-size: 1.1em;
      }
      ol li::before {
        content: counter(steps);
        margin-right: 0.5rem;
        background: #ffffff;
        color: var(--ion-color-primary);
        border: 2px solid var(--ion-color-primary-tint);
        height: 1.4rem;
        width: 1.4rem;
        border-radius: 50%;
        display: inline-grid;
        place-items: center;
        line-height: 1.4rem;
      }
      ol ol li::before {
        background: darkorchid;
      }

      .message-text {
        color: var(--ion-color-dark);
        text-align: left;
      }
      ion-button {
        font-size: 1.3em;
      }
    }

    p,
    h2 {
      margin-top: 1.1rem;
      text-align: center;
    }

    h2 {
      letter-spacing: 2px;
      font-size: 1.8rem;
      text-align: center;
      color: var(--ion-color-light);
      padding: 0 20px;
      font-weight: bold;
      color: var(--ion-color-primary);
    }

    p {
      font-size: 1.1em;
      margin-bottom: 5px;
      text-align: left;
      color: var(--ion-color-primary-contrast);
      padding: 15px;
      margin: 0;
      text-align: center;
    }

    .swiper-pagination-bullets {
      bottom: 2%;

      .swiper-pagination-bullet {
        opacity: 1;
      }

      .swiper-pagination-bullet-active {
        opacity: 0.8;
        --bullet-background-active: var(--ion-color-primary);
      }
    }
  }
}
