#home-info {
  ion-content {
    .app-home-background {
      position: absolute;
      top: env(safe-area-inset-top) !important;
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 100%;
      overflow: hidden;

      .app-logo-wrapper {
        position: absolute;
        backdrop-filter: blur(5px);
        box-shadow: 0 0 1rem 0 rgba(187, 16, 122, 0.2);
        background-color: #ffffff47;
        background-color: rgba(255, 255, 255, 0.7);
        width: 100%;

        img {
          display: block;
          margin: 0 auto;
          padding: 30px;
          max-width: 90%;
        }
      }

      .pretty-button {
        text-align: center;
        --inner-border-width: 0;
        border-radius: 10px;
        --border-radius: 10px;
        --background: var(--ion-color-secondary);
        --color: white;
        --color-activated: white;
        box-shadow: 0 0 5px rgba(244, 169, 0, 0.9);
        font-weight: 600;
        letter-spacing: 2px;

        ion-label {
          padding: 6px;
          width: 100%;
          text-align: center;
          text-transform: uppercase;
          white-space: normal;
        }
      }
    }
  }
}
